---
interface Props {
	title: string;
}

const {  title } = Astro.props;
---
<section>
	<div class="left-semicicle"></div>
	<div class="card">
		<p id={title} class="card__value"/>
	</div>
	<div class="right-semicicle"></div>
	<p  class="card__label">{title}</p>
</section>



<style>
	.card {
		padding: 1px;
		height: 140px;
		background: linear-gradient(180deg,#2C2C44 50%, #343650 50%);/*#*/
		border-radius: 7px;
		position: relative;
		box-shadow: 0px 15px 4px 0px #0b0b0b;
	}

	.card::after{
		background-color: #44454f;
    content: "";
    display: block;
    height: 0.1px;
    width: 100%;
    position: relative;
    top: -50%;
	}

	.left-semicicle{
		position: relative;
		top: 80px;
    left: 2px;
		transform: translate(-50%, -50%);
		height: 10px;
		width: 5px;
		border-radius: 0 150px 150px 0;
		background-color: #1B1A2A;
		z-index: 2;
	}

	.right-semicicle{
		position: relative;
		top: -72px;
    left: 99%;
		transform: translate(-50%, -50%);
		height: 10px;
		width: 5px;
		border-radius: 150px 0 0 150px;
		background-color: #1B1A2A;
		z-index: 2;
	}

	.card__value {
		line-height: 1.4;
		margin: 17px;
		border-radius: 8px;

  
  /* Create the gradient. */
  background-image: linear-gradient(180deg, #D85170 50%, hsl(345, 95%, 68%) 50%);
  
  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent; 
		-moz-background-clip: text;
		-moz-text-fill-color: transparent;
		font-weight: 700;
		font-size: 75px;
		text-align: center;
	}
	.card__label{
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 4px;
    font-weight: 700;
    color: hsl(237, 18%, 59%);
    font-size: small;
	}

	@media (max-width: 600px) {
		.card {
			height: 60px;
			box-shadow: 0px 15px 4px 0px #0b0b0b;
		}
		.card::after{
			top: -52%;
		}
		.card__value {
			line-height: 1.4;
			margin: 13px;
			font-size: 25px;
		}
		.left-semicicle{
			top: 41px;
		}
		.right-semicicle{
			top: -31px;
		}
		.card__label{
			font-size: xx-small;

		}

	}
</style>

